body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #815d39c0;
}

#siatka {
    display: grid;
    grid-template-rows: 0px 50px auto 50px 30px;
    grid-gap: 10px;
}

#tekst {
    background-color: #d0b587;
    color: #815d39;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ruch {
    background-color: #d0b587;
    color: #815d39;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#plansza {
    width: 560px;
    height: 560px;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px;
    grid-template-rows: 70px 70px 70px 70px 70px 70px 70px 70px;
    justify-content: center;
    border: 5px solid #815d39;
}

#zbite {
    display: grid;
    grid-template-columns: auto auto;
}

.pole {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.czarne {
    background-color:  #815d39;
}

.czarne:hover {
    cursor: pointer;
    background-color:  #815d39c9;
}

.biale {
    background-color: #d0b587;
    z-index: 5;
}

.bialyPion {
    background-color: #efdcc9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(39, 39, 39);
}

.zbityBialyPion {
    background-color: #efdcc9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgb(39, 39, 39);
}

#zbiteBiale {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
}

.bialyPion:hover {
    cursor: pointer;
}

.bialaDama {
    background-color: #efdcc9;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffc400;
}

.bialaDama:hover {
    cursor: pointer;
}

.czarnyPion {
    background-color: #161311;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #000;
}

.zbityCzarnyPion {
    background-color: #161311;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #000;
}

#zbiteCzarne {
    display: grid;
    grid-template-rows: 30px;
    grid-template-columns: 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px 15px;
}

.czarnyPion:hover {
    cursor: pointer;
}

.czarnaDama {
    background-color: #161311;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffc400;
}

.czarnaDama:hover {
    cursor: pointer;
}

.fioletowePole {
    width: 62px;
    height: 62px;
    border: 4px solid black;
    z-index: 10;
}

.fioletowePole:hover {
    cursor: pointer;
}